//Import main styles.scss
@import "../../../styles.scss";

a {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
}

a:hover {
    color: $HighlightColor;
}

.navBackgroundColor {
    background-color: transparent;
}



//nav bar imported
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Poppins',Arial, sans-serif;

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten($black,50%);
}
a {
	transition: .3s all ease;
	color: $PrimaryColor;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $PrimaryColor;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}




.ftco-navbar-light {
	z-index: 3;
	width: 100%;
	padding: 10px 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 20px -17px rgba(0,0,0,400);
	-moz-box-shadow: 0px 5px 20px -17px rgba(0,0,0,400);
	box-shadow: 0px 5px 20px -17px rgba(0,0,0,400);

	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
		padding: 10px 15px;
	}

	.navbar-brand {
		color: silver;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 24px;
		&:hover, &:focus{
			color: $HighlightColor;
		} 
		@include media-breakpoint-down(md){
			color: $white;
		}
	}

	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 10px;
		}
		> .nav-item {
			> .nav-link {
				font-size: 16px;
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
				padding-left: 20px;
				padding-right: 20px;
				font-weight: 400;
				color: silver;
				position: relative;
				&:hover {
					color: $HighlightColor;
				}
				opacity: 1!important;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-top: .5rem;
					padding-bottom: .5rem;
					color: rgba(255,255,255,.7);
					&:hover{
						color: $HighlightColor;
					}
				}
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				border-radius: 4px;
				padding: 0;
				.dropdown-item{
					font-size: 12px;
					color: $black;
					&:hover, &:focus{
						background: $primary;
						color: $white;
					}
				}
			}

			
			&.cta {
				> a {
					color: $white;
					background: $primary;
					border-radius: 0px;
					@include media-breakpoint-down(sm){
						padding-left: 15px;
						padding-right: 15px;
					}
					@include media-breakpoint-down(md){
						color: $white;
						background: $primary;
						border-radius: 4px;
					}
				}
			}
			&.active {
				> a {
					color: #01a9df; //Change maybe
					@include media-breakpoint-down(md){
						color: white;
					}
				}
			}
		}
	}
	
	.navbar-toggler {
		border: none;
		color: $TertiaryColor;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:focus{
			outline: none !important;
		}
	}
}

.social-media{
	p{
		a{
			border: 1px solid $TertiaryColor;
			width: 43px;
			height: 43px;
			border-radius: 50%;
			margin-left: 4px;
			span{
				color: $TertiaryColor;
			}
			&:hover{
				background: $PrimaryColor;
				border-color: $SecondaryColor;
				span{
					color: $SecondaryColor;
				}
			}
			@include media-breakpoint-down(md){
				border-color: $white;
				width: 42px;
				height: 42px;
				span{
					color: $white;
				}
			}
		}
	}
}
