<!-- Nav bar idea here: https://mdbootstrap.com/how-to/bootstrap/navbar-transparent/#:~:text=Creating%20a%20transparent%20navbar%20is,of%20the%20parent's%20background%20color.-->
<!--These are two examples for bare bones navbars 
The links below are for a youtube for a main page 'navbar'
    https://www.youtube.com/watch?v=z_xEnL_ni48
https://github.com/shubham44-code/Portfolio-Website
-->
    
<mat-nav-list class="toolbar_design navbar"
    style="position: -webkit-sticky; position: sticky; top: 0;">
    <div class="logo noselect" href="/">Paul Guszak</div>
    <div class="nav-links">
        <mat-list >
            <mat-list-item style="font-size: 25px;"><a href="/MainPage">Main()</a></mat-list-item>
            <mat-list-item style="font-size: 25px;"><a href="/About">About()</a></mat-list-item>
            <mat-list-item style="font-size: 25px;" href="#">Contact()</mat-list-item>
            <mat-list-item>
                <mat-slide-toggle style="font-size:30px" (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"></mat-slide-toggle>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-icon class="menu-hamburger" (click)="toggleMenu()">menu</mat-icon>
    <!-- <img src="../../../assets/Balance.png" alt="menu hamburger" class="menu-hamburger" (click)="toggleMenu()"> -->
</mat-nav-list>

<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="background-color: orange;"></mat-icon>
      </button> --> 