<app-resource-navbar></app-resource-navbar>
<p>signup works!</p>

<form style="margin: 0" (ngSubmit)="onSubmit()">
    <div>
        <input [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control input" type="text" placeholder="First Name">
        <input [(ngModel)]="lastName" name="lastName" id="lastName" class="form-control input" type="text" placeholder="Last Name">
    </div>

    <div>
        <input [(ngModel)]="username" name="username" id="username" class="form-control input" type="text" placeholder="Username">
        <input name="dob" id="dob" class="form-control input" type="date">
    </div>

    <div>
        <input [(ngModel)]="password" name="password" id="password" class="form-control input" type="password" placeholder="Password123">
        <input name="confirmPass" id="confirmPass" class="form-control input" type="password" placeholder="Confirm Password">
    </div>

    <div>
        <textarea [(ngModel)]="Bio" rows="2" maxlength="141" name="Bio" id="Bio" class="form-control " placeholder="Tell us a little about you!"></textarea>
    </div>


    <div style="text-align: center; align-items: center;">
        <button type="submit" class="signupBtn form-control">SignUp</button>
    </div>

</form>