@import '@angular/material/theming';
@include mat-core();

//found colors
$PrimaryColor: #1f1c2d;
$SecondaryColor: #fe5018;
$TertiaryColor: #f0eff0;
$HighlightColor: #898892;
$SecondaryHighlightOrange: darkorange;
$BlazeOrange: #ff5d02;
$ScorpionGray: #606060;


$mat-primary-scheme: (
  100: #222831,
  300: #ff5722,
  500: #393e46,
  700: #303f9f,
  contrast: (
    100: rgba(0,0,0,0.87), 
    500: #ffffff,
    700: #ffffff,
  )
);

$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0,0,0,0.87), 
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);


$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light_mode {
  @include angular-material-theme($app-light-theme);
  // background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-color: #898892;
}

//same section as above just covers the dark theme handling
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.dark_mode {
  @include angular-material-theme($app-dark-theme);
  background-color: black;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color: var(--color);
  scroll-behavior: smooth;
}